/* CSS declarations go here */

html,
body {
    height: 100% !important;
}

body {
    margin: 0px;
}

.leftNavTop64 {
    top: 64px;
}

.leftNavTop {
    top: 0px;
}

.title {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.page-wrap {
    min-height: 100vh;
    margin-bottom: -100px;
}

.containerMain {
    position: relative;
    padding-left: 14px;   
    padding-top : 125px;
    background: #fff;    
}

@media (min-width: 800px) {
    .containerMain {        
        padding-left: 270px;        
    }
}

.row {
    display: inline-block;
    width: 100%;
    text-align: left
}

.alignTop {
    vertical-align: top
}

.textAlignLeft {
    text-align: left
}

.marginTop {
    margin-top: 24px
}

.marginTop4 {
    margin-top: 4px
}

.marginRight {
    margin-right: 12px
}
.rowInline {
    display: inline-block
}

.center {
    text-align: center
}

.drawerTopClass {
    top: 0px !important
}

.drawerTop64Class {
    top: 64px !important
}

.mainPanel {
    margin-top : 40px;
    margin-left: auto;
    margin-right: auto;
    width : 60%;
    background: #fff;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    box-shadow:0 1px 6px rgba(0,0,0,0.12),
    0 1px 4px rgba(0,0,0,0.12);
    border-radius:2px;
    overflow:hidden;
    z-index:1;    
    padding:30px;    
    display: inline-block; 
    text-align: left;
}

.fullHeight {
    height : 100%       
}

.grey {
    background: #eceff1
}   

.noBackground {
    background-color: transparent !important
}

.noPadding {
    padding: 0px !important
}

.fileUpload {
    cursor: 'pointer';
    position: 'absolute';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    opacity: 0;
}

.iconeExterieur {
    width : 300px;
}

.displayFlex {
    display: inline-flex;        

}

.greenStef {
    background-color: #DDEEAA;
}

.cardMain{
    padding : 8px;
}

.mainExterieur{
   position: relative;
      top:100px;

}

.mainFormExterieur {    
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
    width : 60%;
    background: #fff;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    box-shadow:0 1px 6px rgba(0,0,0,0.12),
    0 1px 4px rgba(0,0,0,0.12);
    border-radius:2px;
    overflow:hidden;
    z-index:1;    
    padding:30px;    
    display: inline-block; 
    text-align: left;
}

.blue {
    background-color: #7AD0DD !important;
}