/* CSS declarations go here */

html,
body {
    height: 100% !important;
}

body {
    margin: 0px;
}

.leftNavTop64 {
    top: 64px;
}

.leftNavTop {
    top: 0px;
}

.title {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.page-wrap {
    min-height: 100vh;
    margin-bottom: -100px;
}

.containerMain {
    position: relative;
    padding-left: 14px;   
    padding-top : 74px;
    height : 100%;
}

@media (min-width: 800px) {
    .containerMain {        
        padding-left: 270px;        
    }
}

.row {
    display: inline-block;
    width: 100%;
    text-align: left
}

.alignTop {
    vertical-align: top
}

.textAlignLeft {
    text-align: left
}

.marginTop {
    margin-top: 24px
}

.rowInline {
    display: inline-block
}

.center {
    text-align: center
}

.drawerTopClass {
    top: 0px !important
}

.drawerTop64Class {
    top: 64px !important
}
