/* CSS declarations go here */
html, body {
    height:100% !important;
}

body {
	margin: 0px;	
}

.leftNavTop64 {
	top: 64px;
}

.leftNavTop {
	top: 0px;	
}

.title {
	color: white;
	font-size: 30px;
	text-decoration: none;
}

.page-wrap {
	min-height: 100vh;
    margin-bottom: -100px; 
}

.containerCentral {
	position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    display : block;
}

@media (min-width: 1200px) {
.containerCentral {
    width: 1170px;
}}

@media (min-width: 992px) {
.containerCentral {
    width: 970px;
}}

@media (min-width: 768px) {
.containerCentral {
    width: 750px;
}}


 .row { display:inline-block; width : 100%; text-align: left}

 .alignTop {vertical-align: top}

 .textAlignLeft {text-align: left}

 .marginTop {margin-top : 24px}

 .rowInline {display:inline-block}